<div class="container">
  <div class="row" style="padding-top: 25px;">
    <ng-container *ngIf="selectedType === 'drivers'">
      <div
      class="col-12 col-lg-3"
      style="padding-bottom: 25px; justify-content: center; text-align: center;"
      *ngFor="let team of teamsData">
        <mat-card class="drivers-card">
          {{team.name}}
        </mat-card>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedType === 'constructors'">
      <div
        class="col-12 col-lg-3"
        style="padding-bottom: 25px; justify-content: center; text-align: center;"
        *ngFor="let team of teamsData">
        <mat-card class="drivers-card">
          {{team.name}}
        </mat-card>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedType === 'circuits'">
      <div
        class="col-12 col-lg-3"
        style="padding-bottom: 25px; justify-content: center; text-align: center;"
        *ngFor="let circuit of circuitsData">
        <mat-card class="drivers-card">
          <a href="{{circuit.url}}" target="_blank">{{circuit.name}}</a>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>